{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="topnav">
    <a href="#home">Home</a>
    <a href="#dtools">D-tools</a>
    <a href="#about">About</a>
    <a class="active" href="/contact">Contact</a>
</div>
<h3 class="contactTittle">Contact</h3>
<p class = contact-text>Your feedback is important for us. 
    Send us a message for issues, feedback and requests.
</p>
<div class="container">
<div class="card">
    <div class="card-container">
        <p><pcard>Jose L. Medina-Franco</pcard></p>
        <p><a href="mailto:medinajl@gmail.com">Medina@gmail.com</a></p>
    </div>
</div>
<div class="card">
    <div class="card-container">
        <p><pcard>Euri Juarez</pcard> </p>
        <p><a href="mailto:keuridice@gmail.com">keuridice@gmail.com</a></p>
    </div>
</div>
<div class="card">
    <div class="card-container">
        <p><pcard>Barbara Diaz</pcard></p>
        <p><a href="mailto:qfb.barbara13@gmail.com">qfb.barbara13@gmail.com</a></p>       
    </div>
</div>
</div>

{% endblock %}